.wrapper {
  min-height: 100vh;

  background-image: url('/assets/images/bg_about.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.container {}

.contentWrapper {
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 4rem;
    padding-block: 4rem;
  }

  position: relative;
  top: 0;
  left: 0;
}

.textContainer {
  display: grid;
  gap: 4rem;

  max-width: 500px;

  @media (max-width: 992px) {
    gap: 2rem;
    text-align: center;
  }

  .title {
    font-size: 4rem;
    font-weight: 400;

    @media (max-width: 576px) {
      font-size: 3em;
    }
  }

  .description {
    font-size: 2rem;
  }
}

.imageContainer {
  display: flex;
  width: 30%;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 520px) {
    width: 100%;
  }

  .characterImg {
    cursor: pointer;
  }
}

.arrowContainer {
  position: absolute;
  top: -10%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;

  @media (max-width: 992px) {
    position: static;

    gap: 3rem;
  }
}

.arrowText {
  width: 150px;
  height: 97px;

  background-image: url('/assets/images/text_chat.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 992px) {
    width: 200px;
    height: 129px;
  }
}

.arrowImg {
  width: 200px;
  height: 120px;

  background-image: url('/assets/images/arrow.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 992px) {
    transform: rotate(75deg);
  }
}
