.wrapper {
  min-height: 100vh;

  background-image: url('/assets/images/bg_hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    padding-top: 7rem;
  }

}

.title {
  color: white;
  font-size: 8rem;

  @media (max-width: 998px) {
    font-size: 3rem;
  }
}

.heroBtn {
  background-color: #fff52e;
  border-radius: 12px;
  padding-inline: 20px;

  font-size: 3rem;
}
