.header {
  background-color: transparent;

  width: 100%;
  position: fixed;
  z-index: 10;

  padding: 5px 20px;

  background-color: rgba($color: #ffffff, $alpha: 0.4);
}

.nav {
  display: flex;
  gap: 56px;

  font-size: 2rem;

  a {
    color: #000000;

    &:hover {}
  }
}

.logo {
  width: 70px;
}
