@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root {
  font-family: Knewave, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Knewave, Arial, sans-serif;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}
